<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <div class="header">
        <div class="logo"><img src="/images/chat-logo.png" alt="logo"> Chat App</div>
        <div id="user-profile"></div>
        <button id="logout-btn">Logout</button>
    </div>

    <div id="dashboard-grid-container" class="grid-container">

        <div id="chats-coloumn" class="grid-coloumn">

            <div class="coloumn-heading" id="coloumn-1-heading">
                <h2> Chats</h2>
            </div>

            <div id="search-user">
                <input type="text" id="search-box" placeholder="search">
            </div>

            <div id="create-group">
                <button id="create-group-btn">+ Create Group</button>
            </div>

            <div id="group-list">

            </div>

        </div>


        <div id="messages-coloumn" class="grid-coloumn" style="display: none;">

            <div class="coloumn-heading" id="coloumn-2-heading">
                <h2 id="message-heading"> Lets Chat.. </h2>
                <button id="add-member-btn" title="add member to group"><img src="/images/add-member.png" alt=""
                        id="add-member-image"></button>
                <button id="group-members-btn" title="group members"><img src="/images/group-members.png" alt=""
                        id="group-members-image"></button>

            </div>

            <div id="messages-list">

            </div>

            <div id="message-input-field">
                <form action="" id="send-message-form">
                    <input type="text" id="message-input" placeholder="Type a message" required>
                    <button type="submit" id="message-send-btn"><img src="/images/message-send-button.png"
                            alt=""></button>
                </form>

            </div>

        </div>


        <div id="messages-coloumn-guide" style="display: block;">

            <div class="coloumn-heading" style="background-color: #f6f6f2; font-size: large; font-size: 20px;">
                <h2>Let's start chat...</h2>
            </div>

        </div>


    </div>

    <!-- modal for create group button  -->

    <div id="create-group-modal" class="Modal">

        <!-- Modal content -->
        <div class="Modal-content">

            <div class="Modal-header">
                <h2>Create Group</h2>
                <span class="close">&times;</span>
            </div>

            <div class="Modal-body">
                <div class="form-container">

                    <form id="create-group-form">

                        <div class="input-field">
                            <label for="create-group-input">Group Name:</label>
                            <input type="text" id="create-group-input" placeholder="Enter group name" required> <br>

                        </div>

                        <div class="button-field">
                            <button type="submit" id="create-group-form-btn">Create Group</button>
                        </div>

                    </form>

                </div>

            </div>


        </div>

    </div>


    <!-- modal for add member to group  -->
    <div id="add-member-modal" class="Modal">

        <!-- Modal content -->
        <div class="Modal-content">

            <div class="Modal-header">
                <h2>Add Member to Group</h2>
                <span class="close">&times;</span>
            </div>

            <div class="Modal-body">
                <div class="form-container">

                    <form id="add-member-form">

                        <div class="input-field">
                            <label for="add-member-mobile-input">User's Mobile no.:</label>
                            <input type="tel" id="add-member-mobile-input" pattern="[0-9]{10}"
                                placeholder="Enter user's mobile no." required> <br>

                        </div>

                        <div id="add-member-form-error" class="error" style="display: none;">
                        </div>

                        <div class="button-field">
                            <button type="submit" id="add-member-form-btn">Add Member</button>
                        </div>

                    </form>

                </div>

            </div>


        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/dashboard.js"></script>

</body>

</html>