<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <div class="header">
        <div class="logo"><img src="/images/chat-logo.png" alt="logo"> Chat App</div>
        <div id="user-profile">Sourabh Bharamkar</div>
        <button id="logout-btn">Logout</button>
    </div>

    <div id="dashboard-grid-container" class="grid-container">

        <div id="chats-coloumn" class="grid-coloumn">

            <div class="coloumn-heading" id="coloumn-1-heading">
                <h2> Chats</h2>
            </div>

            <div id="search-user">
                <input type="text" id="search-box" placeholder="search">
            </div>

            <div id="create-group">
                <button id="create-group-btn">+ Create Group</button>
            </div>

            <div id="chat-list">
                <div class="user"> Cricket Lovers</div>
                <div class="user"> Shahu Group</div>
                <div class="user"> Crack Members</div>
                <div class="user"> Sharpener Web Development</div>
                <div class="user"> Backend Develoopement</div>
                <div class="user"> Frontend Development</div>
                <div class="user"> KIT Alumni</div>
                <div class="user">Mechanical Group </div>
                <div class="user"> User 9</div>
                <div class="user"> User 10</div>
                <div class="user"> User 11</div>
            </div>

        </div>


        <div id="messages-coloumn" class="grid-coloumn">

            <div class="coloumn-heading" id="coloumn-2-heading">
                <h2 id="message-heading"> Lets Chat.. </h2>
                <button id="add-member-btn" title="add member to group"><img src="/images/add-member.png" alt=""
                        id="add-member-image"></button>
                <button id="group-members-btn" title="group members"><img src="/images/group-members.png" alt=""
                        id="group-members-image"></button>

            </div>

            <div id="messages-list">

                <div class="message">
                    <h3 class="sender">You</h3>
                    <p>Hi sourabh how are you</p>
                </div>

                <div> I am Fine</div>
                <div> I am Fine</div>
                <div> I am Fine</div>
                <div> I am Fine</div>
                <div> I am Fine</div>

            </div>

            <div id="message-input">
                <input type="text" placeholder="Type a message">
                <button id="message-send-btn"><img src="/images/message-send-button.png" alt=""></button>

            </div>

        </div>


    </div>

    <!-- modal for create group button  -->

    <div id="create-group-modal" class="Modal">

        <!-- Modal content -->
        <div class="Modal-content">

            <div class="Modal-header">
                <h2>Create Group</h2>
                <span class="close">&times;</span>
            </div>

            <div class="Modal-body">
                <div class="form-container">

                    <form id="create-group-form">

                        <div class="input-field">
                            <label for="create-group-input">Group Name:</label>
                            <input type="text" id="create-group-input" placeholder="Enter group name" required> <br>
                            
                        </div>
                      
                        <div class="button-field">
                            <button type="submit" id="create-group-form-btn">Create Group</button>
                        </div>

                    </form>
                    
                </div>

            </div>


        </div>

    </div>


    <!-- modal for add member to group  -->
    <div id="add-member-modal" class="Modal">

        <!-- Modal content -->
        <div class="Modal-content">

            <div class="Modal-header">
                <h2>Add Member to Group</h2>
                <span class="close">&times;</span>
            </div>

            <div class="Modal-body">
                <div class="form-container">

                    <form id="add-member-form">

                        <div class="input-field">
                            <label for="add-member-input">User's Mobile no.:</label>
                            <input type="tel" id="add-member-input" pattern="[0-9]{10}" placeholder="Enter user's mobile no." required> <br>
                            
                        </div>
                      
                        <div class="button-field">
                            <button type="submit" id="add-member-form-btn">Add Member</button>
                        </div>

                    </form>
                    
                </div>

            </div>


        </div>

    </div>

    <script src="/js/dashboard.js"></script>

</body>

</html>