<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div id="body">
        <div class="header">
            <div class="logo"><img src="/images/chat-logo.png" alt="logo"> Chat App</div>
            <div class="header-buttons">
                <button id="signup-button">Sign Up</button>
                <button id="login-button">Login</button>
            </div>
        </div>

        <div class="main">
            <div class="homepage-text">
                <h1>Group Chat App</h1> <br><br>
                <h2>simple, intuitive, stable and feature-rich app</h2><br>
                <span>Expenses Manager is a user-friendly, finance management app which allows you to keep track of your
                    transactions seamlessly and intuitively. You can categorize your spending, create budgets, get
                    detailed analysis of your spending habits and stay on top of your money.</span>
            </div>
            <div class="homepage-image">

                <img src="/images/group-chat-homepage.png" alt="">
            </div>
        </div>



        
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

</html>