/* css for header  */
#user-profile {
  margin-left: auto;
  margin-right: 30px;

}

#logout-btn {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #FFDF29;
  border: 1px solid white;
}

#logout-btn:hover {
  background-color: #FFDF29;
  transition: .3s;
  border: none;
  color: black;
}


.grid-container {
  display: grid;
  grid-template-columns: 25% auto;

}

.grid-coloumn {
  height: 89vh;
  border-right: 1px solid #bbbbbb;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  /* border-radius: 15px; */
  background-color: white;

}

.coloumn-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #adadad;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */

}

.coloumn-heading h2 {
  font-size: 20px;

}

/* css for coloumn number 1 */

#coloumn-1-heading {

  border-bottom: none;
}

#chats-coloumn {
  background-color: white;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */

}

#search-user {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-user input {

  padding: 5px 30px;
  border: none;
  background-color: #f6f6f2;
  border: 1px solid rgb(159, 159, 159);
  outline: none;
}

div#create-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-group button {
  padding: 10px;
  border: none;
  background-color: rgb(1, 133, 148);
  color: white;
  border-radius: 4px;
}


#group-list {
  margin-top: 10px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  height: 418px;
  overflow-y: auto;
  border-top: 1px solid rgb(181, 180, 180);
}

.group {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 15px;
  border-bottom: 1px solid #e2e2e2;

}

.group:hover {
  background-color: #f6f6f2;
  cursor: pointer;
}

.group-icon {
  width: 50px;
  height: 50px;
}

.group-details {
  margin-left: 30px;
  overflow-wrap: break-word;

}


.active-group {
  background-color: #f6f6f2;
}

/* css for scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* css for grid coloumn number 2 */


#coloumn-2-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f6f6f2;
  border: none;
  border-bottom: 1px solid rgb(183, 183, 183);
  /* box-shadow: 0 3px 5px rgb(0 0 0 / 0.2); */

}


#message-heading {

  font-size: 20px;
  margin-left: 10px;
  font-weight:500;
  
}

#coloumn-2-heading-btns{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-member-btn {
  border: none;
  background-color: transparent;
}

#add-member-image {
  width: 25px;
  height: 25px;
}

#group-members-btn {
  border: none;

  margin-left: 20px;
  background-color: transparent;
}

#group-members-image {
  width: 30px;
  height: 30px;
}

#three-dots-btn{
  border: none;
  margin-left: 20px;
  background-color: transparent;
}

#three-dots-image{
  width: 30px;
  height: 30px;
}

#three-dots-dropdown{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 62%;
  /* left: 100px; */
  border: 1px solid #f6f6f2;
  border-top: none;
 
}

#three-dots-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#three-dots-dropdown a:hover {
  background-color: rgb(8, 152, 152);
  color: white;
}

div#messages-list {
  width: 100%;
  height: 81%;
  overflow-y: auto;
}

div#messages-list::-webkit-scrollbar {
  width: 10px;
}

.message.outgoing {
  padding: 3px 15px;
  background-color: #e1f2fc;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 70px;
  width: fit-content;
  border-radius: 10px;
}

.message.incoming {
  padding: 3px 15px;
  background-color: #e3f9e1;
  margin-top: 15px;
  margin-left: 70px;
  width: fit-content;
  border-radius: 10px;
  /* border: 1px solid rgb(227, 226, 226); */
}


.message h3 {
  font-size: 15px;
  color: teal;
}


#message-input-field {

  width: 100%;
  margin-top: 0px;
  margin-bottom: 2px;
  background-color: #F5F5F5;
  padding: 10px;
  border: 1px solid #cbcbcb;

}


#send-message-form {
  display: flex;
  align-items: center;
  justify-content: center;

}


#message-input-field input {
  padding: 8px 15px;
  width: 65%;
  border: none;
  background-color: white;
  border: 1px solid rgb(208, 208, 208);
  outline: none;
  border-radius: 50px;

}


#message-send-btn {

  margin-left: 20px;
  padding: 7px;
  border: none;
  background-color: teal;
  height: 100%;
  border: 1px solid rgb(208, 208, 208);
  border-left: none;
  border-radius: 50%;
}


#message-send-btn:hover {
  background-color: rgb(1, 127, 127);
}


#message-send-btn img {
  width: 25px;
  height: 25px;
}




/* css for modals */

/* The Modal (background) */
.Modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: none;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */

}

/* Modal Content */
.Modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 120px;
  top: 10%;
  padding: 15px;
  border: 1px solid #888;
  border-radius: none;
  width: 35%;

}

.Modal-header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid#CACACA;

}

.Modal-header h2 {
  margin: auto;
  color: #2B7A78;
  font-size: 22px;

}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.form-container {
  width: 100%;

}

.input-field input {
  width: 100%;
  padding: 7px;
  border: 1px solid#CACACA;
  /* border: none; */
  /* border-bottom: 1px solid#CACACA; */
  margin-top: 10px;
  font-size: medium;
  box-sizing: border-box;
  outline: none;
}

.input-field {
  width: 100%;
  margin-top: 20px;

}

.input-field label {
  font-weight: bold;
}

.button-field {
  width: 100%;
  margin-top: 20px;

}

.form-container button {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  font-size: medium;
  color: white;
  box-sizing: border-box;
  border: none;
  background-color: rgb(1, 147, 147);
  cursor: pointer;

}

.form-container button:hover {
  background-color: teal;
}

.error {
  color: red;
}


/* group members modal */
#group-members-list {
  overflow-y: auto;
  width: 100%;
  height: 380px;

}

.group-member {
  border-bottom: 1px solid #e2e2e2;
  padding: 15px;

}

.group-member:hover {
  background-color: #f6f6f2;
}

.group-member {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.group-member-icon {
  width: 50px;
  height: 50px;
}

.group-member-details {
  margin-left: 30px;
}

.group-member-labels{
  margin-left: auto;
  margin-right: 20px;
}


.admin{
  
  background-color: rgb(203, 241, 175);
  padding: 2px 8px;
  border-radius: 3px;
  cursor: pointer;
  
}


.admin-action{

  background-color: rgb(243, 24, 24);
  padding: 2px 8px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  
}

/* admin action list */
#admin-actions-list-A, #admin-actions-list-B{
  display: none;
  position: absolute;
  top: 100px;
  /* background-color: #f1f1f1; */
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 62%;
  /* left: 100px; */
  border: 1px solid #f6f6f2;
  
}

#admin-actions-list-A a, #admin-actions-list-B a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#admin-actions-list-A a:hover, #admin-actions-list-B a:hover{
  background-color: #e0e0e0;
  /* color: white; */
}


.active-member{
  background-color:#f6f6f2;
}
